* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: auto;
  height: 100vh;
  background-image: url("img/card-table.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  gap: 25px;
}

.container--dice {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.one {
  height: 120px;
  width: 120px;
  background-image: url("img/side1.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.two {
  height: 120px;
  width: 120px;
  background-image: url("img/side2.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.three {
  height: 120px;
  width: 120px;
  background-image: url("img/side3.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.four {
  height: 120px;
  width: 120px;
  background-image: url("img/side4.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.five {
  height: 120px;
  width: 120px;
  background-image: url("img/side5.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.six {
  height: 120px;
  width: 120px;
  background-image: url("img/side6.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 20px;
}

button {
  width: 150px;
  height: 30px;
}

.balance {
  background-color: white;
  border-radius: 25px;
  width: 12rem;
  height: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

.title {
  background-color: white;
  border-radius: 25px;
  width: auto;
  font-size: 2.5rem;
  padding-left: 15px;
  padding-right: 15px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.bet {
  text-align: center;
  height: 2rem;
  width: 8rem;
  font-size: 1.5rem;
}

.radio {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

label {
  background-color: white;
  border-radius: 15px;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
